{
  "accounts": {
    "gmail": {
      "email": "your_email@gmail.com",
      "password": "your_gmail_app_password",
      "imap": {
        "host": "imap.gmail.com",
        "port": 993,
        "ssl": true
      },
      "smtp": {
        "host": "smtp.gmail.com",
        "port": 465,
        "ssl": true
      }
    },
    "qq": {
      "email": "your_email@qq.com",
      "password": "your_qq_authorization_code",
      "imap": {
        "host": "imap.qq.com",
        "port": 993,
        "ssl": true
      },
      "smtp": {
        "host": "smtp.qq.com",
        "port": 465,
        "ssl": true
      }
    }
  }
}
